.title{
    padding: 85px 0;
    h2{
        font-size: 32px;
        line-height: 1.4;
        color: #91916C;
        position: relative;
        text-align: center;
        @media(max-width:800px){
            font-size: 28px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 290px;
            height: 2px;
            background-color: #91916C;
            left: calc(50% - 145px);
            bottom: -24px;
            @media(max-width:450px){
                width: 220px;
                left: calc(50% - 110px);
            }
        }
    }
}

.contact-base{
    background-color: #91916C;
}
.contact-main{
    padding: 40px 0;
    h1{
        width: 500px;
        margin: auto;
        // margin-top: 52px;
        font-size: 48px;
        line-height: 1.4;
        color: #fff;
        text-align: center;
        @media(max-width:800px){
            font-size: 36px;
            width: auto;
        }
        @media(max-width:450px){
            font-size: 32px;
        }
    }
}
.contact-parts{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
    @media(max-width:900px){
        flex-direction: column;
    }
    img{
        width: 420px;
        @media(max-width:500px){
            width: auto;
        }
    }
    form{
        display: flex;
        gap: 10px;
        row-gap: 27px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 610px;
        @media(max-width:670px){
            width: auto;
        }
        input{
            width: 100%;
            background: rgba(225, 225, 194, 0.4);
            border-radius: 8px;
            padding: 15px 25px;
            font-size: 20px;
            line-height: 1.4;
            color: #fff;
            outline: none;
            border: none;
            @media(max-width:400px){
                font-size: 16px;
                padding: 10px 16px;
            }
            &:nth-of-type(1), &:nth-of-type(2){
                width: 49%;
                @media(max-width:1100px){
                    width: 100%;
                }
            }
            &::placeholder{
                color: #fff;
            }
        }
        button{
            width: 100%;
            padding: 15px;
            text-align: center;
            border-radius: 8px;
            color: #E5A985;
            border: 1px solid #E5A985;
            border: none;
            font-size: 20px;
            line-height: 1.4;
            &:hover{
                color: #fff;
                background-color: #E5A985;
            }
            @media(max-width:400px){
                font-size: 16px;
                padding: 10px;
            }
        }
    }
}
.copy{
    text-align: center;
    padding: 25px;
    font-size: 20px;
    line-height: 1.4;
}